{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 2,
    "printWidth": 80,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "bracketSameLine": false,
    "quoteProps": "as-needed",
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "proseWrap": "preserve",
    "singleAttributePerLine": false,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "^react$",
        "^react-dom$",
        "^react-router-dom$",
        "^next",
        "<THIRD_PARTY_MODULES>",
        "^@/components/(.*)$",
        "^@/hooks/(.*)$",
        "^@/lib/(.*)$",
        "^@/utils/(.*)$",
        "^@/styles/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tailwindConfig": "./tailwind.config.js",
    "tailwindFunctions": [
        "clsx",
        "cva",
        "cn",
        "tw"
    ],
    "tailwindAttributes": [
        "className",
        "variant",
        "tw"
    ],
    "overrides": [
        {
            "files": [
                "*.jsx",
                "*.tsx"
            ],
            "options": {
                "jsxSingleQuote": false
            }
        }
    ]
}
